zsh/.config/zsh/.zcompdump
zsh/.config/zsh/history
zsh/.config/zsh/plugins/
variety/.config/variety/Downloaded/
variety/.config/variety/wallpaper/
variety/.config/variety/Favorites/
variety/.config/variety/variety.log
variety/.config/variety/variety.log 
variety/.config/variety/history.txt 
variety/.config/variety/Fetched
