$primary: #93ccff;
$onPrimary: #003353;
$primaryContainer: #004a76;
$onPrimaryContainer: #cbe5ff;
$secondary: #b8c8da;
$onSecondary: #233240;
$secondaryContainer: #394857;
$onSecondaryContainer: #d5e4f6;
$tertiary: #d2bfe6;
$onTertiary: #382a4a;
$tertiaryContainer: #4f4061;
$onTertiaryContainer: #efdbff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$background: #1a1c1e;
$onBackground: #e2e2e5;
$surface: #1a1c1e;
$onSurface: #e2e2e5;
$surfaceVariant: #42474d;
$onSurfaceVariant: #c2c7ce;
$outline: #8c9198;
$shadow: #000000;
$inverseSurface: #e2e2e5;
$inverseOnSurface: #2f3032;
$inversePrimary: #00639b;