.indicator {
  min-width: 220px;
  background-color: $surfaceVariant;
  border-radius: 10px;
  padding: 0 2px;
  margin: 0 2px;
  margin-right: 0;
  transition: 0.3s;
}

.indicator-icon {
  margin: 0 4px;
  font-size: 22px;
}

.indicator:hover {
  background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
}
